<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span id="fundingclaimsDates-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> Validation failed. Please check the dates entered.
        </span>
        <form id="fundingClaimsDatesForm">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-width-15">Data Collection period</th>
                    <th scope="col" class="govuk-table__header">Submission Open Date</th>
                    <th scope="col" class="govuk-table__header">Submission close date</th>
                    <th scope="col" class="govuk-table__header govuk-width-17">Helpdesk open date</th>
                    <th scope="col" class="govuk-table__header">Signature required?</th>
                    <th scope="col" class="govuk-table__header">Signature close date</th>
                    <th scope="col" class="govuk-table__header"></th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {{#each viewModel}}
                {{#if inEditMode }}
                <input type="hidden" name="id" value="{{id}}"/>
                <tr class="govuk-table__row row-hide" id="add-table-row">
                    <td scope="row" class="govuk-table__cell fundingclaimdates-edit-width" >
                        <select class="govuk-select .fundingclaimdates-edit-width" id="sort" name="collectionId">
                            {{#select collectionId}}
                            {{#each @root.collectionPeriods}}
                            <option value="{{value}}">{{text}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td class="govuk-table__cell"><input class="govuk-input fundingclaimdates-edit-width" type="datetime-local" id="submissionOpenDateUtc" name="submissionOpenDateUtc" required value={{submissionOpenDateUtc}} data-id="{{id}}" placeholder="DD/MM/YYYY HH:MM"></td>
                    <td class="govuk-table__cell"><input class="govuk-input fundingclaimdates-edit-width" type="datetime-local" id="submissionCloseDateUtc" name="submissionCloseDateUtc" required value={{submissionCloseDateUtc}} data-id="{{id}}" placeholder="DD/MM/YYYY HH:MM"></td>
                    <td class="govuk-table__cell"><input class="govuk-input fundingclaimdates-edit-width" type="datetime-local" id="helpdeskOpenDateUtc" name="helpdeskOpenDateUtc" required value={{helpdeskOpenDateUtc}} data-id="{{id}}" placeholder="DD/MM/YYYY HH:MM"></td>
                    <td class="govuk-table__cell fundingclaimdates-edit-width">
                        <select class="govuk-select .fundingclaimdates-edit-width" id="requiresSignature" name="requiresSignature">
                            {{#select requiresSignature}}
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                            {{/select}}
                        </select>
                    </td>
                    <td class="govuk-table__cell"><input class="govuk-input fundingclaimdates-edit-width" type="datetime-local" id="signatureCloseDateUtc" name="signatureCloseDateUtc" value="{{signatureCloseDateUtc}}" placeholder="DD/MM/YYYY HH:MM"></td>
                    <td class="govuk-table__cell govuk-table__header--numeric"><button class="govuk-button" data-module="govuk-button" data-id="{{id}}" id="save">Save</button> <a data-id="{{id}}" href="#" id="cancel">Cancel</a> </td>
                </tr>

                {{else}}
                <tr class="govuk-table__row">
                    <td scope="row" class="govuk-table__cell">{{collectionName}}</td>
                    <td class="govuk-table__cell">{{submissionOpenDateUtcFormattedString}}</td>
                    <td class="govuk-table__cell">{{submissionCloseDateUtcFormattedString}}</td>
                    <td class="govuk-table__cell">{{helpdeskOpenDateUtcFormattedString}}</td>
                    <td class="govuk-table__cell">{{requiresSignature}}</td>
                    <td class="govuk-table__cell">{{signatureCloseDateUtcFormattedString}}</td>
                    <td>
                        <button class="govuk-button modify-table-row" data-module="govuk-button" data-collectionId="{{collectionId}}" data-id="{{id}}" id="modify">Modify</button>
                    </td>
                </tr>
                {{/if}}
                {{/each}}
                </tbody>
            </table>
        </form>
    </div>
</div>
