@using ESFA.DC.Web.Operations.Constants
@using ESFA.DC.Web.Operations.Extensions
@model ESFA.DC.Web.Operations.Models.ReferenceData.ReferenceDataViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/referenceData/referenceData">Reference data</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Provider Postcode Specialist Resources</li>
    </ol>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl heading-bottom-margin">Provider Postcode Specialist Resources</h1>
        <br />
    </div>
</div>

<br />
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <form asp-controller="ProviderPostcodeSpecialistResources" asp-action="Index" method="post" enctype="multipart/form-data" id="ilrform">

            @Html.AntiForgeryToken()

            <h1 class="govuk-heading-m">
                Choose provider postcode specialist resources reference data file to upload
            </h1>

            <div class="@ViewContext.GetGroupItemStyle(ErrorMessageKeys.Submission_FileFieldKey)" id="controls">
                <label class="govuk-label govuk-!-font-weight-bold" for="file">
                    Upload a file
                </label>
                <div error-field-name="@ErrorMessageKeys.Submission_FileFieldKey"></div>
                <input class="govuk-file-upload" name="file" id="file" type="file" accept=".csv">
            </div>

            <button class="govuk-button" id="uploadFile">
                Upload
            </button>
        </form>
    </div>
</div>

<div id="filesList">
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <label id="slowConnection" alt="Connection is slow at the moment"></label>
        <label id="lastSync"></label>
        <label id="state"></label>
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/handlebars.js"></script>

    <script type="module">
        import Controller from '/assets/js/referenceData/referenceDataController.js';
        import Hub from '/assets/js/hubs/hub.js';

        (function () {
            const model = @Json.Serialize(Model);
            const controller = new Controller();
            const hub = new Hub('providerPostcodeSpecialistResourcesHub', controller.displayConnectionState);

            controller.registerHandlers(hub, 'ProviderPostcodeSpecialistResources');
            hub.startHub(model);
            controller.renderFiles('ProviderPostcodeSpecialistResources', model);
        })();
    </script>
}