@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.Processing.Models.JobProcessingDetailViewModel

@{
    ViewData["Title"] = "Job Processing Detail";
    ViewData[ViewDataConstants.BackLink] = "/";
}
<div id="content"></div>
<div class="govuk-grid-row">
    <br />
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Job Processing Detail - @Model.JobProcessingType</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="table_box_native">
        <table class="govuk-table" id="tblData">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" style="width: 250px">Provider name</th>
                    <th class="govuk-table__header" scope="col" style="width: 100px">UKPRN</th>
                    <th class="govuk-table__header" scope="col" style="width: 170px">Filename </th>
                    <th class="govuk-table__header" scope="col">Processing time</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body" id="dataContent">
            </tbody>
        </table>
    </div>
    <div id="index_native" class="box"></div>
</div>
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <button data-prevent-double-click="true" class="govuk-button govuk-!-margin-right-3" type="submit" data-module="govuk-button" id="refreshData">Refresh</button>
        <a href="#" class="govuk-button" id="aBtnDownloadCSV">Download CSV</a>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <span id="dataLoadingSpinner" class="loading-spinner" style="display: block;position: absolute;left: auto;right: auto;"><img src="~/assets/images/loading-spinner.gif" alt="loading-icon"></span>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <state-display></state-display>
    </div>
</div>

@section PageScripts
{
    <partial name="_InitialState" model="Model" />
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/lib/chartjs/dist/chart.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/paginator.js" asp-append-version="true"></script>
    <script src="~/assets/js/processing/jobProcessingDetail/jobProcessingDetailController.js" asp-append-version="true" type="module"></script>
}
