@using ESFA.DC.Web.Operations.Constants
@model string

@{
    ViewData["Title"] = "Jobs queued";
    ViewData[ViewDataConstants.BackLink] = "/";
}
<div id="content"></div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Jobs queued</h1>
        <partial name="_SortAndFilters" model="@(new List<SelectListItem>{
                                                        new SelectListItem { Text="Longest time in the queue",Value="LongestTimeInTheQueue", Selected=true},
                                                        new SelectListItem { Text="Shortest time in the queue",Value="ShortestTimeInTheQueue"},
                                                        new SelectListItem { Text="Alphabetical",Value="Alphabetical"},
                                                        new SelectListItem { Text="UKPRN",Value="Ukprn"}})" />
        <br>
    </div>
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
                <circle class="circle-chart__background" stroke="#EFEFEF" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                <circle id="firstCircle" class="circle-chart__circle" stroke-width="3" stroke-dasharray="40,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
                <g class="circle-chart__info">
                    <text id="firstDonut" class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" data-count=""></text>
                    <text id="firstDonutText" class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Waiting ...</text>
                </g>
            </svg>
        </section>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table" id="tblData">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" style="width:420px">Provider name</th>
                    <th class="govuk-table__header" scope="col" style="width:100px">UKPRN</th>
                    <th class="govuk-table__header" scope="col" style="width:170px">Time in queue</th>
                    <th class="govuk-table__header" scope="col">Job status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body" id="dataContent">
            </tbody>
        </table>
    </div>
</div>

<a href="#" class="govuk-button" id="aBtnDownloadCSV">Download CSV</a>
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <state-display></state-display>
    </div>
</div>

@section PageScripts
{
    <partial name="_InitialState" model="Model" />
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/lib/chartjs/dist/chart.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/processing/jobQueuedController.js" asp-append-version="true" type="module"></script>
}