@using ESFA.DC.Web.Operations.Constants
@model string

@{
    ViewData["Title"] = "Jobs queued";
    ViewData[ViewDataConstants.BackLink] = "/";
}
<div id="content"></div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Jobs queued</h1>
        <partial name="_SortAndFilters" model="@(new List<SelectListItem>{
                                                        new SelectListItem { Text="Longest time in the queue",Value="LongestTimeInTheQueue", Selected=true},
                                                        new SelectListItem { Text="Shortest time in the queue",Value="ShortestTimeInTheQueue"},
                                                        new SelectListItem { Text="Alphabetical",Value="Alphabetical"},
                                                        new SelectListItem { Text="UKPRN",Value="Ukprn"}})" />
        <br>
    </div>
    <div class="govuk-grid-column-one-third">
        <section class="margin-bottom">
            <partial name="_Donut" />
        </section>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="table_box_native">
        <table class="govuk-table" id="tblData">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col" style="width:350px">Provider name</th>
                    <th class="govuk-table__header" scope="col" style="width:80px">UKPRN</th>
                    <th class="govuk-table__header" scope="col" style="width:80px">Job Id</th>
                    <th class="govuk-table__header" scope="col" style="width:160px">Time in queue</th>
                    <th class="govuk-table__header" scope="col">Job status</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body" id="dataContent">
            </tbody>
        </table>
    </div>
    <div id="index_native" class="box"></div>
</div>

<a href="#" class="govuk-button" id="aBtnDownloadCSV">Download CSV</a>
<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <state-display></state-display>
    </div>
</div>

@section PageScripts
{
    <partial name="_InitialState" model="Model" />
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/lib/chartjs/dist/chart.bundle.min.js" asp-append-version="true"></script>
    <script src="~/assets/js/processing/jobQueuedController.js" asp-append-version="true" type="module"></script>
    <script src="~/assets/js/paginator.js" asp-append-version="true"></script>
}