
<p>@ViewData["Message"]</p>

<div class="main-nav">
    <a class="govuk-heading-s" asp-area="" asp-controller="DevOps" asp-action="Index">Home</a>
    <a class="govuk-heading-s" asp-area="" asp-controller="DevOps" asp-action="Topics">Home</a>
    <a class="govuk-heading-s" asp-area="" asp-controller="DevOps" asp-action="Tasks">Home</a>

</div>