@using ESFA.DC.Web.Operations.Constants
@model string

@{
    ViewData["Title"] = "Providers Returned";
    ViewData[ViewDataConstants.BackLink] = "/";
}
<div id="content"></div>
<div class="govuk-grid-row">
    <br />
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Providers Returned</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <table class="govuk-table" id="tblData">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th class="govuk-table__header govuk-!-width-one-third" scope="col">Provider name</th>
                    <th class="govuk-table__header" scope="col">UKPRN</th>
                    <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Filename </th>
                    <th class="govuk-table__header govuk-!-width-one-quarter" scope="col">Date/time of submission (latest)</th>
                    <th class="govuk-table__header" scope="col">Processing time</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body" id="dataContent">
            </tbody>
        </table>
    </div>
</div>

<a href="#" class="govuk-button" onclick="downloadCSV()" id="aBtnDownloadCSV">Download CSV</a>

<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <label id="lastSync"></label>

        <label id="state"></label>
    </div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/lib/chartjs/dist/chart.bundle.min.js" asp-append-version="true"></script>

<script type="module">
    import JobProvidersReturnedCurrentPeriodController from "/assets/js/processing/jobProvidersReturnedCurrentPeriodController.js";
    import Hub from '/assets/js/hubs/hub.js';

    (function () {
        const jobProvidersReturnedCurrentPeriodController = new JobProvidersReturnedCurrentPeriodController();
        const hub = new Hub('jobProvidersReturnedCurrentPeriodHub', jobProvidersReturnedCurrentPeriodController.displayConnectionState);
        const data = @Json.Serialize(Model);

        jobProvidersReturnedCurrentPeriodController.registerHandlers(hub);
        hub.startHub();

        jobProvidersReturnedCurrentPeriodController.updatePage(data);

        window.change = function () {
            jobProvidersReturnedCurrentPeriodController.updatePage(jobProvidersReturnedCurrentPeriodController._data);
        };

        window.downloadCSV = function () {
            jobProvidersReturnedCurrentPeriodController.downloadCSV();
        };
    })();
</script>