{{#each viewModel.paths}}
    <a class="govuk-heading-s" href="#Path{{this.pathId}}">{{this.name}}</a>
    <span class="nav">
        <ul id="ST-{{removeSpaces this.name}}" class="govuk-list">
            {{#each this.pathItems}}
                {{#if (include_in_nav this ..)}}
                    <li class="compact-list-item">
                        <a class="govuk-link small-link" href="#{{this.name}}">{{this.name}}</a>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </span>
{{/each}}
