@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@using ESFA.DC.Web.Operations.Constants

@{
    ViewData["Title"] = "FRM Error";
    ViewData[ViewDataConstants.LoadingPage] = "LoadingPage";
}
<br />
<h1 class="govuk-heading-xl">
    Frm Reports Cancelled
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
    You have successfully cancelled processing your FRM Reports
</div>