@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@using ESFA.DC.Web.Operations.Constants

@{
    ViewData["Title"] = "FRM Error";
    ViewData[ViewDataConstants.LoadingPage] = "LoadingPage";
}
<br />
<h1 class="govuk-heading-xl">
    There has been an error
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
There has been an error in processing your FRM Reports</div>