@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@using ESFA.DC.Web.Operations.Constants

<meta http-equiv="refresh" content="5">

@{
    ViewData["Title"] = "FRM Processing";
    ViewData[ViewDataConstants.LoadingPage] = true;
}
<br />
<h1 class="govuk-heading-xl">
    Processing
</h1>
<div class="govuk-panel__body govuk-!-font-size-36">
    Frm Reports Processing
</div>

<img src="~/assets/images/loading-spinner.gif" width="80px" alt="loading" />