@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@{
    ViewData["Title"] = "FRM Validation";
    ViewData[ViewDataConstants.BackLink] = "/";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-x1">
            Which reports do you want to publish?
        </h1>
        <div class="govuk-form-group">
            <label class="govuk-label" for="name"></label>
            <form asp-action="ReportChoiceSelection" method="post">
                <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                        <input asp-for="IsFrmReportChoice" value="false" class="govuk-radios__input" type="radio" />
                        <label class="govuk-label govuk-radios__label">QAR</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input asp-for="IsFrmReportChoice" value="true" class="govuk-radios__input" type="radio" />
                        <label class="govuk-label govuk-radios__label">FRM</label>
                    </div>
                </div>
                <br />
                <br />
                <button type="submit" class="govuk-button">Continue</button>
            </form>

            <br />
            <p>
                <div class="govuk-link"><a asp-action="Index">Cancel</a></div>
            </p>
        </div>
    </div>
</div>
