@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@using ESFA.DC.Web.Operations.Constants

@{
    ViewData["Title"] = "FRM Publish Successful";
    ViewData[ViewDataConstants.BackLink] = "/";

}


<h1 class="govuk-heading-xl">
    Publish Successful
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
    The FRM Reports have been successfully published. 
</div>