@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@{
    ViewData["Title"] = "FRM Unpublish";
}
<div class="govuk-grid-row">

        <div class="govuk-form-group">
            <label class="govuk-label" for="name"></label>


        </div>
    </div>
</div>


