@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@{
    ViewData["Title"] = "FRM Unpublish";
}
<label class="govuk-label" for="name"></label>
<div class="govuk-form-group">
    <h1 class="govuk-heading-x1">Choose a period to unpublish</h1>

    <label class="govuk-label" for="sort">
        Sort by
    </label>


    <select class="govuk-select" id="sort" name="sort" style="width:auto">
        <!--set to periods-->
        <option value="published">Published</option>
        <option value="unpublished" selected>Unpublished</option>
    </select>
    <br />
    <br />
    <button type="submit" class="govuk-button">Continue</button>
</div>

