@model ESFA.DC.Web.Operations.Areas.Frm.Models.FrmReportModel
@using ESFA.DC.Web.Operations.Constants

@{
    ViewData["Title"] = "FRM Validation Successful";
    ViewData[ViewDataConstants.GoToStart] = true;

}
<br />
<h1 class="govuk-heading-xl">
    Validation Successful
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
    The FRM Reports have been successfully validated. Please Check CSV for violation report.
</div>
<br />
<table class="govuk-table">
    <caption class="govuk-table__caption" , style="padding-bottom:5px; text-align:center">CSV Download</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row" , style="text-align:center">
            <th scope="col" class="govuk-table__header">Period</th>
            <th scope="col" class="govuk-table__header">Download</th>
            <th scope="col" class="govuk-table__header">Last Validated</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body" style="text-align:center">
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">@Model.FrmPeriod</td>
            <td class="govuk-table__cell">
                @Html.ActionLink($"FrmFailedFiles_{Model.FrmPeriod}.csv", "GetReportFile", new { fileName = $"FrmFailedFiles_{Model.FrmPeriod}.csv" })
            </td>
            <td class="govuk-table__cell">@Model.FrmCSVValidDate</td>
    </tbody>
</table>
<table>

    @using (Html.BeginForm("PublishFrm", "Frm"))
    {
        <br />
        <br />
        <br />
        <input id="FrmJobId" name="FrmJobId" type="hidden" value="@Model.FrmJobId" />
        <button type="submit" class="govuk-button">Publish</button>
    }
    <nbsp>  </nbsp>
    @using (Html.BeginForm("CancelFrm", "Frm"))
    {
        <button type="submit" class="govuk-button">Cancel</button>
    }
</table>