{{#if summary}}
    <li class="app-task-list__summary">
        {{summary.numberOfWaitingJobs}} Waiting, {{summary.numberOfRunningJobs}} Running, {{summary.numberOfFailedJobs}} Failed, {{summary.numberOfCompleteJobs}} Complete
    </li>
{{/if}}