{{#if (isProceedable @root.isCurrent this.isPausing @last)}}
<div class="app-task-list__item">
    {{> @partial-block}}
    {{> proceedButton pathItem=this yearPeriod=@root.yearPeriod isNextItemSubPath=(isNextItemSubPath @root.path.pathItems @index) isBusy=@root.path.isBusy}}
</div>
{{else}}
{{> @partial-block}}
{{/if}}