@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.PeriodEndILR.Models.ValidityPeriodViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/periodend/periodEnd">Period end</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/periodendilr/periodEndPreparation">ILR</a>
        </li>
        <li class="govuk-breadcrumbs__list-item" aria-current="page">Period end validity periods</li>
    </ol>
</div>

@if (!Model.PeriodEndInProgress)
{
    @using(Html.BeginForm("UpdateValidityPeriod", "ValidityPeriod"))
    {
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl heading-bottom-margin">Validity Periods</h1>
                <br />
                <br />
                <div id="typeFilter" class="govuk-checkboxes">
                    <div id="minusMargin" class="govuk-form-group margin-right">
                        <label class="govuk-label">Collection year</label>
                        <select class="govuk-select" id="collectionYear" name="collectionYear">
                            @foreach (var year in Model.AllYears)
                            {
                                <option value="@year" @if (Model.Year == year) { @: selected
                                        }>
                                    @year
                                </option>
                            }
                        </select>
                    </div>

                    <div id="minusMargin" class="govuk-form-group margin-right">
                        <label class="govuk-label">Period number</label>
                        <select class="govuk-select" id="period" name="period">
                            @for (var i = 1; i <= 14; i++)
                            {
                                <option value="@i"
                                        @if (Model.Period == i) { @: selected
                                        }>
                                    @i
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div id="structureContainer"></div>

        <button type="submit" class="govuk-button" id="saveChanges">Save</button>
    }
}
else
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="red-font">
                Not available when Period End in progress
            </h2>
        </div>
    </div>
}

<br />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <label id="lastSync"></label>

        <label id="state"></label>
    </div>
</div>

@if (!Model.PeriodEndInProgress)
{
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/lib/handlebars/dist/handlebars.js" asp-append-version="true"></script>

    <script type="module">
        import ValidityPeriodController from "/assets/js/periodEnd/validityPeriodController.js";

        (function () {
            const validityPeriodController = new ValidityPeriodController();
        })();

    </script>
}