@model ESFA.DC.Web.Operations.Areas.Publication.Models.PublicationReportModel
@using ESFA.DC.Web.Operations.Constants

@{
    ViewData["Title"] = "Publication Error";
    ViewData[ViewDataConstants.GoToStart] = true;
}
<br />
<h1 class="govuk-heading-xl">
    There has been an error
</h1>
<div class="govuk-panel__body govuk-!-font-size-19">
There has been an error in processing your Reports:
@TempData["Error"]</div>