@model ESFA.DC.Web.Operations.Areas.Publication.Models.PublicationReportModel
@using ESFA.DC.Web.Operations.Constants

@{
    ViewData["Title"] = "FRM Validation";
}
<h1 class="govuk-heading-x1">Enter FRM Details</h1>

@using (Html.BeginForm("ValidateFrmAsync","Publication"))
{
    <label class="govuk-label" for="PublicationYearPeriod">
        Year code of Reports
    </label>
    @Html.TextBoxFor(model => model.FrmYearPeriod, new { @class = "govuk-input govuk-input--width-4", id = "frm", @type = "text" })
    <span class="govuk-error-message">
        <span asp-validation-for="PublicationYearPeriod"></span>
    </span>
    <label class="govuk-label">
        Start date
    </label>
    @Html.TextBoxFor(model => model.FrmDate, "{0:yyyy-MM-dd}", new { @class = "govuk-input govuk-!-width-one-third", id = "FrmDate", @type = "date", placeholder = "DD/MM/YYYY" })
    <span class="govuk-error-message">
        <span asp-validation-for="PublicationDate"></span>
    </span>
    <label class="govuk-label" for="PublicationPublishPeriod">
        Enter the Period you wish to publish
    </label>
    @Html.TextBoxFor(model => model.FrmPeriodNumber, new { @class = "govuk-input govuk-input--width-2", id = "frmPeriodNumber", @type = "text" })
    <span class="govuk-error-message">
        <span asp-validation-for="PublicationPeriodNumber"></span>
    </span>
    <input id="FrmJobType" name="PublicationJobType" type="hidden" value="Validation" />
    <br />
    <button type="submit" class="govuk-button">Continue</button>
}

@section PageScripts
    {
    <script src="~/assets/minified/aspnet-validation.min.js"></script>

    <script type="module">
        var v = new aspnetValidation.ValidationService();
        v.bootstrap();
    </script>
}