
@{
    ViewData["Title"] = "ConfirmAdd";
}



    <div class="govuk-panel govuk-panel--confirmation">

        <div class="govuk-panel__body govuk-!-font-size-36">
            You've added <br><strong> @ViewData["email"]</strong>
        </div>
    </div>



    <p class="govuk-body">
        <a href="/emaildistribution" class="govuk-link">Manage email distribution lists</a>
    </p>
    @*<p class="govuk-body">
        <a href="period-end" class="govuk-link">Period end</a>
    </p>*@

