<section class="margin-bottom">
    <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="200" height="200" xmlns="http://www.w3.org/2000/svg">
        <circle class="circle-chart__background" stroke="#EFEFEF" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <circle id="firstCircle" class="circle-chart__circle" stroke-width="3" stroke-dasharray="40,100" stroke-linecap="" fill="none" cx="16.91549431" cy="16.91549431" r="15" />
        <g class="circle-chart__info">
            <text id="firstDonut" class="circle-chart__percent counter" x="16.91549431" y="15.5" alignment-baseline="central" text-anchor="middle" font-size="8" data-count=""></text>
            <text id="firstDonutText" class="circle-chart__subline" x="16.91549431" y="20.5" alignment-baseline="central" text-anchor="middle" font-size="2">Waiting ...</text>
        </g>
    </svg>
</section>