@using ESFA.DC.Web.Operations.Extensions
<div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
        @if (@User.Identity.IsAuthenticated)
        {
            <span class="govuk-body govuk-!-font-size-16 signed-in-user">
                <span class="your-name" id="bannerUserName">
                    @User.Name()
                    @if (User.Ukprn() > 0)
                    {
                        <text> UKPRN:@User.Ukprn() </text>
                    }
                </span>
                <a class="account-link" asp-controller="Account" asp-action="SignOut">Sign out</a>
            </span>
        }
    </p>
</div>
@if (ViewBag.PageId != "home-page" && @ViewData.ContainsKey("BackUrl"))
{
    <a href="@ViewData["BackUrl"]" class="govuk-back-link">Back</a>
}