@using ESFA.DC.Web.Operations.Constants
@{
    var requestPath = Context.Request.Path;
}

    <div class="main-nav">
        <a govuk-request-path-search-text="NA" class="govuk-heading-s" asp-area="" asp-controller="Home" asp-action="Index">Back to Main Site</a>
        <a govuk-request-path-search-text="NA" class="govuk-heading-s" asp-area="" asp-controller="Claims" asp-action="Index">View Claims</a>
        <a govuk-request-path-search-text="NA" class="govuk-heading-s" asp-area="DevOps" asp-controller="Topics" asp-action="">Edit Topics</a>
        <a govuk-request-path-search-text="NA" class="govuk-heading-s" asp-area="DevOps" asp-controller="Tasks" asp-action="">Edit Task</a>
    </div>
