@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <partial name="_Head" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body class="govuk-template__body">

    <partial name="_Header" />

    <div class="govuk-width-container">

        <partial name="_Banner" />

        <main class="govuk-main-wrapper" id="content" role="main">
            <partial name="_Navigation" />

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <partial name="_ErrorSummary" />
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <partial name="_Footer" />

    <script src="~/assets/js/siteController.js" asp-append-version="true" type="module"></script>
    <script src="~/assets/js/govuk-template.js" asp-append-version="true"></script>
    <script src="~/assets/minified/govuk.min.js" asp-append-version="true"></script>
    <script src="~/lib/handlebars/dist/handlebars.js" asp-append-version="true"></script>
    <script src="~/assets/templates/templates.precompiled.js" asp-append-version="true"></script>
    @RenderSection("PageScripts", required: false)
</body>
</html>