@{
    var requestPath = Context.Request.Path;
}

<div class="main-nav">
    <a id="1" class="govuk-heading-s @(requestPath.Value.EndsWith("/home") ? "active" : string.Empty)" href="/home">Home</a>
    @*<a id="2" class="govuk-heading-s" href="manage-collections">Collections</a>
        <a id="3" class="govuk-heading-s" href="notifications">Notifications</a>*@
    <a id="4" class="govuk-heading-s @(requestPath.Value.Contains("/periodEnd") ? "active" : string.Empty)" href="/periodEnd">Period end</a>
    <a id="5" class="govuk-heading-s @(requestPath.Value.Contains("/serviceFabric") ? "active" : string.Empty)" href="/serviceFabric" >Service Fabric</a>
</div>

<a id="backlink" href="#" class="govuk-back-link">Back</a>
<br />
<br />