@using ESFA.DC.Web.Operations.Constants
@{
    var requestPath = Context.Request.Path;
}

    <div class="main-nav">
        <a govuk-request-path-search-text="/home" class="govuk-heading-s" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        <a govuk-request-path-search-text="/provider" class="govuk-heading-s" asp-area="provider" asp-controller="AddNew" asp-action="AddNewOption">Providers</a>
        <a govuk-request-path-search-text="/collections" class="govuk-heading-s" asp-area="collections" asp-controller="ManageCollections" asp-action="Index" asp-route-collectionId="">Collections</a>
        <a govuk-request-path-search-text="NA" class="govuk-heading-s" asp-area="" asp-controller="Home" asp-action="Index">Notifications</a>
        <a govuk-request-path-search-text="/periodEndPreparation" class="govuk-heading-s" asp-area="periodend" asp-controller="PeriodEndPrep" asp-action="Index">Period end</a>
        <a govuk-request-path-search-text="NA" class="govuk-heading-s" asp-area="frm" asp-controller="Frm" asp-action="Index">QAR/FRM</a>
        <a govuk-request-path-search-text="NA" class="govuk-heading-s" asp-area="" asp-controller="Home" asp-action="Index">Rule validation</a>
        <a govuk-request-path-search-text="reports" class="govuk-heading-s" asp-area="reports" asp-controller="Reports" asp-action="Index">Reports</a>
    </div>

@if (!(ViewData.ContainsKey(ViewDataConstants.DashBoard) || ViewData.ContainsKey(ViewDataConstants.LoadingPage)))
{
    <a onclick="goBack()" class="govuk-back-link">Back</a>
}