
@{
    ViewData["Title"] = "Index";
}

    <h1 class="govuk-heading-xl">Name your new mailing list</h1>

<form asp-controller="Group" asp-action="Submit" method="post" id="choiceform">
        <div class="govuk-form-group">

            <input class="govuk-input govuk-input--width-20" id="groupName" name="groupName" type="text">
        </div>

    <button class="govuk-button">
        Add
    </button>
</form>


