<div id="ruleValidationDetailReportSection">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span id="spinner" class="loading-spinner" style="display: block;position: absolute;left: auto;right: auto;"><img src="~/assets/images/loading-spinner.gif" alt="loading-icon"></span>
            <h3>Search for a validation rule:</h3>
        </div>
        <div class="govuk-grid-row govuk-grid-column-two-thirds">
            <div class="govuk-grid-column-two-thirds">
                <div id="tt-overlay">
                    <div id="tt-overlay" class="autocomplete-wrapper"></div>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <button data-prevent-double-click="true" class="govuk-button" type="submit" data-module="govuk-button" id="generateValidationReport">Generate Report</button>
            </div>
        </div>
    </div>
</div>