@using ESFA.DC.Web.Operations.Constants
@using ESFA.DC.Web.Operations.Utils
@model ESFA.DC.Web.Operations.Areas.Provider.Models.ProviderViewModel

@{
    ViewData["Title"] = "Add New Provider";
    ViewData[ViewDataConstants.BackLink] = "/";
}

<div class="app-masthead">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-heading-s govuk-!-font-size-27 white-text">Search for a provider</span>
            <vc:provider-search search-type="existing"></vc:provider-search>
        </div>
        <div class="govuk-grid-column-one-third">
            <div>
                @*<a href="#">Advanced search</a>
                    @Html.ActionLink("Add a new provider", "AddNewOption", "AddNew", new { area = AreaNames.Provider })*@
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-x1">Add a single provider or multiple providers/collection assignments?</h1>
        <div class="govuk-form-group">
            <label class="govuk-label" for="name"></label>
            @using (Html.BeginForm())
            {
                <div class="govuk-radios govuk-radios--inline">
                    <div class="govuk-radios__item">
                        <input asp-for="IsSingleAddNewProviderChoice" value="true" class="govuk-radios__input" type="radio" />
                        <label class="govuk-label govuk-radios__label">Add one provider</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input asp-for="IsSingleAddNewProviderChoice" value="false" class="govuk-radios__input" type="radio" />
                        <label class="govuk-label govuk-radios__label">Add multiple providers/collection assignments</label>
                    </div>
                </div>
                <br />
                <br />
                <button type="submit" class="govuk-button" formaction="AddNewChoiceSubmit">Continue</button>
                <br />
                <p>
                    <a class="govuk-back-link navigation-back">Cancel</a>
                </p>
            }
        </div>
    </div>
</div>

@section PageScripts
{
    <script>
        function searchProviderOnConfirm(result) {
            var manageProvidersUrl = '@Url.Action("Index", "ManageProviders", new { Area = "Provider", ukprn = "__ukprn__" })';
            window.location.href = manageProvidersUrl.replace('__ukprn__', result.ukprn);
        }
    </script>
}