@model ESFA.DC.Web.Operations.Areas.Provider.Models.ProviderViewModel

<div class="app-masthead">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-heading-s govuk-!-font-size-27 white-text">Search for a provider</span>
            <form class="govuk-form-group" action="provider-record">
                <div id="tt-overlay" class="autocomplete-wrapper"></div>
                <button id="searchProviders" type="search" class="govuk-button">
                    <img src="~/images/autocomplete-search-button.png" />
                </button>
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
        </div>
    </div>
</div>

@section PageScripts
{
    <script src="~/assets/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/minified/accessible-autocomplete.min.js"></script>

    <script type="module">
        import Client from '/assets/js/providerSearch/client.js';
        import Hub from '/assets/js/hubs/providerSearchHub.js';

        const hub = new Hub();
        hub.startHub();

        window.searchClient = new Client(hub.getConnection());

        var element = document.querySelector('#tt-overlay');
        var id = 'autocomplete-minLength';
        accessibleAutocomplete({
            element: element,
            id: id,
            minLength: 2,
            source: window.searchClient.providerSearch.bind(window.searchClient)
        });

    </script>
}