@using ESFA.DC.Web.Operations.Constants
@model ESFA.DC.Web.Operations.Areas.Reports.Models.ReportsViewModel

@{
    ViewData["Title"] = "Index";
    ViewData[ViewDataConstants.BackLink] = "/Home";
}

<br />
<form method="post">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <label for="collectionYears" class="govuk-label">Select academic year</label>
            <select id="collectionYears" asp-for="CollectionYear" class="govuk-select govuk-input--width-10 form-control" asp-items="Model.Years">
            </select>
        </div>
        <div class="govuk-grid-column-one-third">
            <label for="collectionPeriod" class="govuk-label">Select period</label>
            <select id="collectionPeriod" asp-for="CollectionPeriod" class="govuk-select govuk-input--width-10 form-control">
            </select>
        </div>
    </div>
    <br />

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <label for="reportSelection" class="govuk-label">Create new report for:</label>
            <select id="reportSelection" class="govuk-select govuk-input--width-20 form-control"></select>
            <button class="govuk-button" data-module="govuk-button" id="createReport">Create report</button>
        </div>
    </div>
</form>

<partial name="_RuleValidationReportDetail" />

<span id="reportsLoadingSpinner" class="loading-spinner" style="display: block;position: absolute;left: auto;right: auto;"><img src="~/assets/images/loading-spinner.gif" alt="loading-icon"></span>
<div id="internalReportsDownloadList">
</div>

@if (!string.IsNullOrEmpty(@ViewBag.Error))
{
    <div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h4 class="govuk-error-message">The following error occured during processing: <br /><br />@ViewBag.Error</h4>
            </div>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">&nbsp;</div>
    <div class="govuk-grid-column-two-thirds">
        <label id="state"></label>
    </div>
</div>

@section PageScripts
{
    <partial name="_InitialState" model="Model" />
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/assets/minified/accessible-autocomplete.min.js"></script>
    <script src="~/assets/js/reports/reportsController.js" asp-append-version="true" type="module"></script>
}