@model ESFA.DC.Web.Operations.Areas.Reports.Models.ReportsViewModel


@{
    ViewData["Title"] = "Processing Report";
}

<br />
<br />
@if (ViewData.ModelState.IsValid)
{
    <h1 class="govuk-heading-xl">
        Processing report
    </h1>

    <div class="govuk-panel__body govuk-!-font-size-18">
        Creating @Model.ReportName for collection period: @Model.CollectionYear R@(Model?.CollectionPeriod.ToString().PadLeft(2, '0'))
    </div>
    <img src="~/assets/images/loading-spinner.gif" width="80px" alt="loading" />
}