@{
    ViewData["Title"] = "Generating Validation Rule Details Report";
}


<h1 class="govuk-heading-xl">
   Generating Validation Rule Details Report
</h1>
<img src="~/assets/images/loading-spinner.gif" width="80px" alt="loading" />